body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white; 
    font-family: "Pixelify Sans", serif;
}

#header{
    font-size: 4rem;
    display: flex;
    justify-content: center;
    color: orangered;
}

.keys{
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.key {
    background-color: grey;
    padding: 8px;
    border: 5px solid orangered;
    border-radius: 8px;
    text-align: center;
}

.key:hover{
    cursor: pointer;
}

.key:active{
    border: 5px solid goldenrod;
}

.key h1{
    font-size: 3rem;
}

.key .sound{
    font-size: 2rem;
}

.playing{
    transform: scale(1.1);
    background-color: goldenrod;
    box-shadow: 0 0 10px;
}

@media only screen and (max-width: 600px) {
    .keys{
        display: grid;
        grid-template-columns: repeat(4, 60px);
        gap: 10px;
    }
    #header{
        font-size: 2rem;
        display: flex;
        justify-content: center;
        color: orangered;
    }

 }
